@keyframes breathing {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.06);
    opacity: 0.95;
  }
}

h3.job_history{
    color: #0084ff;
    margin-top: 10px !important;
    background-color: #f9f9f9 !important;
  }

.gnav-accordion {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5em;
  margin: 1em 0;
}

.gnav-title {
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.gnav-list {
  margin-top: 0.5em;
}

.header_job_history {
  margin: 0.5em 0;
}

.header_job_history a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

.job_history_content {
  margin-bottom: 50px;
}
.job_history a {
  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: #ffffff;
  border: 2px solid #0084ff;
  border-radius: 20px;
  text-decoration: none;
  color: #0084ff;
  font-weight: bold;
  transition: all 0.3s ease;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
  text-decoration:underline;
  animation: breathing 3.0s ease-in-out infinite;

}

.job_history a:hover {
  background-color: #e6f3ff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}

.job_history .top_year {
  display: block;
  font-size: 14px;
  margin-top: 8px;
  color: #555;
}

.header_job_history a {
  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: #ffffff;
  border: 2px solid #0084ff;
  border-radius: 20px;
  text-decoration: none;
  color: #0084ff;
  font-weight: bold;
  transition: all 0.3s ease;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
  text-decoration:underline;
  animation: breathing 3.0s ease-in-out infinite;

}

.header_job_history a:hover {
  background-color: #e6f3ff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}

.header_job_history .top_year {
  display: block;
  font-size: 14px;
  margin-top: 8px;
  color: #555;
}

.current_result_link {
    padding: 5px;
    border: 2px solid #0084ff;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    text-align: center;
    text-decoration:underline;
    animation: breathing 3.0s ease-in-out infinite;
    background-color: #e6f3ff;
    margin-top: 8px;
    color: #555;
}

.fixed-bottom-link {
    max-width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #a7d4ff;
    color: rgb(0, 0, 0);
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

.fixed-bottom-link:hover {
    background-color: #fddfc3;
}
