body {
    padding: 50px 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
  }
  
  h1, h2 {
    text-align: center;
    color: #0084ff;    
  }

  h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 22px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
    background-color: #e1effa;
  }


  h4, h5, h6 {
    font-size: 22px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
  }
  
  ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  strong {
    color: #0084ff;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
  }

  .start_end{
    font-size: 30px;
  }
  .history, .navi{
    text-align: center;
  }

  .top_image {
    max-width: 640px;
    height: auto; /* 好きな固定値に */
    width: 100%; /* 幅を親に合わせて縮小可 */
    object-fit: cover; /* 画像の切り取り調整したい時 */
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .self, .organization {
    max-width: 300px;
    padding: 4px 12px;
    background-color: #e0f0ff;
    color: #007acc;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #b3dfff;
    margin: 20px auto;
    
    pointer-events: none; /* 非クリッカブル */
  }
  
  .point_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .point_item {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #585858;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

  }
  .image_container {
    display: flex;
    flex-wrap: wrap; /* 複数行対応（必要なら） */
    gap: 16px; /* 画像間の余白、好みで調整 */
    justify-content: center; /* 中央寄せ（任意） */
  }
  .prof_image {
    width: calc(50% - 11px);
    height: auto; /* ← お好みの固定高さ */
    object-fit: contain; /* 中央を切り取ってフィットさせる */
    box-sizing: border-box;
  }
  .prof_image_gsc {
    width: calc(100% - 11px);
    height: auto; /* ← お好みの固定高さ */
    object-fit: contain; /* 中央を切り取ってフィットさせる */
    box-sizing: border-box;
  }
  
  
  
  /* スマホ対応 */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 32px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3, h4, h5, h6 {
      font-size: 18px;
    }
  
    p, ul li {
      font-size: 16px;
    }
    .start_end{
      font-size: 18px;
    }
  
    body {
      padding: 30px 15px;
    }
    .point_container {
      grid-template-columns: repeat(2, 1fr);
    }
    .prof_image {
      width: 100%;
    }
    
  }
  
