body {
    padding: 50px 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
  }
  
  h1, h2, h3{
    text-align: center;
    color: #0084ff;    
  }

  h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  h3, h4, h5, h6 {
    font-size: 22px;
    color: #0084ff;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
  }
  
  ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  strong {
    color: #0084ff;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
  }

  .start_end{
    font-size: 30px;
  }

  .history{
    text-align: center;
  }
  .top_year{
    font-size: 16px;
  }
  /* スマホ対応 */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 36px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3, h4, h5, h6 {
      font-size: 18px;
    }
  
    p, ul li {
      font-size: 16px;
    }
  
    body {
      padding: 30px 15px;
    }
  }
  
.top_image {
  max-width: 640px;
  height: auto; /* 好きな固定値に */
  width: 100%; /* 幅を親に合わせて縮小可 */
  object-fit: cover; /* 画像の切り取り調整したい時 */
  margin-top: 30px;
  margin-bottom: 30px;
}

.self, .organization {
  max-width: 300px;
  padding: 4px 12px;
  background-color: #e0f0ff;
  color: #007acc;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #b3dfff;
  margin: 20px auto;
  
  pointer-events: none; /* 非クリッカブル */
}
